<div class="contents row">
  <%# <div class="container"> %>
 <div class="edit">
  <div class="edit_text">
    <h3>書き替える</h3>
    </div>
    <div class="text">
    <div class="main">
    <%= render partial: "form", locals: { memogaki: @memogaki } %>
  </div>
</div>